body {
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-Bold';   
}

h3 {
   font-size: 2rem;
}

p {
    color: #555353;
}

    /* Headings */

.big-heading {
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


    /* Containers */

.container-fluid {
    padding: 7% 15%;
}

    /* Sections */

.colored-section {
    background-color: rgb(15, 15, 14);
    color: #fff;
}

.white-section {
    background-color: #f0edec;
}

    /* Navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}

    
    /* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


    /* Title Section */
                
#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

    /* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 35%;
}

    /* Features Section */


#features {
    position: relative;
}

.feature-box {
    padding: 5%;
}

.awesome {
    color: grey;
    margin-bottom: 1rem;
}

.awesome:hover{
    color:#4ce4ff;
}

    /* Testimonals Section */

#testimonials {
    background-color: #be827b;
}

.testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

        /* partners section */

#partners {
    padding: 100px;
}

.partner-text {
    font-size: 3rem;
    line-height: 1.5;
}

.partners-column {
    padding: 3% 2%;
    align-items: center;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

    /* CTA SECTION */



.cta-heading {
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
}

        /* Footer Section */

.social-icon {
    margin: 20px 10px;
}



#dropdowns #filter{
   
    width: 100%;
    display: inline-flex;
    
    
}
#dropdowns #filter select{
    width: 100%;
    margin: 4px;
    padding: 3px;
    align-content: center;
}
